.swap-list-input {
  margin: 1rem 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.swap-list-input__category {
  font-size: inherit;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.swap-list-input__content {
  font-size: inherit;
  resize: none;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
