.swap-list-input {
  margin: 1rem 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.swap-list-input__category {
  font-size: inherit;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.swap-list-input__content {
  font-size: inherit;
  resize: none;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.swap-list__button {
  display: flex;
  width: unset;
  align-items: center;
  justify-content: space-between;
}

.swap-list-button > icon + p {
  color: red;
}
@media (min-width: 600px) {
  .swap-list-input {
    flex: 1;
    margin: 0 1rem;
  }
}
