body {
  background-color: #f5f3f5;
  color: #1b264f;
  font-family: "Roboto", Helvetica, sans-serif;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: inherit;
  flex: 1;
}
strong {
  font-weight: bold;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1rem;
  line-height: 20px;
}
button {
  font-size: 16px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px;
  align-self: center;
  margin: 16px;
}

button:hover {
  background: #67cb6f;
  color: #f5f3f5;
}
input {
  border: 1px solid grey;
  padding: 4px;
}

ul {
  list-style: disc;
  list-style-position: inside;
}
li {
  line-height: 20px;
  margin-left: 1.5rem;
}
br {
  margin-bottom: 1rem;
}

footer {
  display: flex;
  font-size: 18px;
  /* height: 60px; */
  color: #f5f3f5;
  background-color: #1b264f;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 16px;
}
.icon-button {
  display: flex;
  align-items: center;
}
.icon-button__label {
  margin: 0 1rem 0 0.5rem;
}
.icon-link {
  display: flex;
  text-decoration: none;
  color: #f5f3f5;
}
.icon-link:hover {
  display: flex;
  text-decoration: underline;
}
.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* .page-content {
  height: calc(100vh - 40px);
} */
.checkbox-container {
  display: flex;
  margin-bottom: 1rem;
}
.checkbox {
  -webkit-appearance: none;
  margin: 0;
  width: 20px;
  height: 20px;
  /* vertical-align: bottom;
   */
  align-self: center;
}

.checkbox:checked {
  background-color: #67cb6f;
}

.checkbox ~ label {
  align-self: center;
  margin-left: 8px;
}

/* input[type="checkbox"]:checked {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #67cb6f;
  text-align: center;
  line-height: 15px;
} */
textarea {
  min-height: 150px;
  border: 1px solid grey;
  font-size: 16px;
  border-radius: 6px;
  padding: 4px;
}
#output {
  background-color: lightgrey;
  padding: 2rem;
  border-radius: 6px;
}
.swap-list-area--hidden {
  display: none;
}

.example {
  color: #1b264f;
  background-color: #67cb6f;
  font-size: 14px;
  padding: 1rem;
  border-radius: 6px;
}

/* Utility Classes */
.no-margin {
  margin: 0;
}

.margin-16-left {
  margin: 0 0 0 16px;
}

.margin-16-bottom {
  margin: 0 0 16px 0;
}
.margin-8-right {
  margin: 0 8px 0 0;
}
